/* HEAD NAVBAR */
  .hnavbar {
    background: white;
    transition: all 0.3s ease;
    height: 70px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hnavbar-brand img {
    height: 50px;
  }
  .hnavbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hnavbar-right a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #716668;
  }
  .hnavbar-item {
    cursor: pointer;
    padding: 0 20px;
  }
  .hnavbar-link {
    color: #616668;
    font-size: 14px;
  }
  .hnavbar-link:hover {
    color: #0A8754;
    text-decoration: none;
  }
/* BRAND-CONTAINER */
  .brand {
    color: white;
    text-align: center; 
    height: 66vh;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 20px 0px;
  }
/* NAVBAR-CONTAINER */
  *{
    padding:0;
    margin:0;
    box-sizing:border-box;
  }
  html{
    height:100%;
  }
  .wrapper{
    min-height:100%;
    width:100%;
    position:relative;
  }
  .navigationDesktop{
    background:#7CB385;
  }
  nav {
    height:50px;
    width:900px;
    background-color: #7CB385; 
    display:block;
    margin:0 auto;
    text-align: center;
  }
  nav a{
    display:block;
    text-decoration: none;
    background: #7CB385;
    font-family: "Roboto", sans-serif;
    font-size:13pt;
    color:white;
    justify-content: space-between;
  }
  nav a:hover{
    background:#537A5A;
    color:#f0f1f5;
  }
  nav ul{
    list-style: none;
  }
  nav ul li{
    float:left;
    width:300px;
    height:50px;
    line-height: 50px;
    background:#BEC5AD;
  }

  nav ul ul li{
    position:relative;
    display:none;
  }

  nav ul ul ul{
    display:none;
  }

  nav ul li:hover ul li{
    display: block;
    animation: navmenu 500ms forwards;
  }

  @keyframes navmenu{
    0%{
      opacity:0;
      top:5px;
  }
    100%{
      opacity:1;
      top:0px;
    }
  }
  nav ul ul li:hover ul{
    display:block;
    position:absolute;
    width:140px;
    left:140px;
    top:0px;
  }
/* MAIN CONTAINER */
  .main-container {
    margin: 20px 0px 20px 0px;
  }
  .header {
    text-align: center;
    margin-bottom: 40px;
  }
  .header h1 {
    font-family: "Caveat", cursive;
    font-size: 50px;
    margin-bottom: 20px;
  }
  .header img {
    border-radius: 50%;
    height: 300px;
    border: 6px solid white;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
  }
  .description-title {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 30px;
  }
  .description-title h2 {
    font-family: "Caveat", cursive;
    font-size: 30px;
  }
  .description-body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: rgb(51,51,51);
    text-align: justify;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .description-body li {
    list-style: none;
  }
  .social {
    font-size: 15px;
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    color: rgb(102,102,102);
    font-family: "Roboto", sans-serif;
  }
  .social-links {
    text-align: center;
    padding: 20px;
  }
  .social-links li {
    display: inline;
    font-size: 50px;
    padding: 5px;
    color: #2F4F4F;
  }

/* FOOTER */
  .footer-container {
    background: #2F4F4F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 50px;
  }

  .footer-container p {
    font-family: "Krub",sans-serif;
    color: lightblue;
  }

  .footer-links {
    display: flex;
    align-items: center;
  }

  .footer-links a {
    color: lightblue;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }

  .footer-links a:hover {
    color: white;
  }

