/* HEAD NAVBAR */
  .hnavbar {
    background: white;
    transition: all 0.3s ease;
    height: 70px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hnavbar-brand img {
    height: 50px;
  }
  .hnavbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hnavbar-right a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #716668;
  }
  .hnavbar-item {
    cursor: pointer;
    padding: 0 20px;
  }
  .hnavbar-link {
    color: #616668;
    font-size: 14px;
  }
  .hnavbar-link:hover {
    color: #0A8754;
    text-decoration: none;
  }
/* BRAND-CONTAINER */
  .brand {
    color: white;
    text-align: center; 
    height: 66vh;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 20px 0px;
  }
/* NAVBAR-CONTAINER */
  *{
    padding:0;
    margin:0;
    box-sizing:border-box;
  }
  html{
    height:100%;
  }
  .wrapper{
    min-height:100%;
    width:100%;
    position:relative;
  }
  .navigationDesktop{
    background:#7CB385;
  }
  nav {
    height:50px;
    width:900px;
    background-color: #7CB385; 
    display:block;
    margin:0 auto;
    text-align: center;
  }
  nav a{
    display:block;
    text-decoration: none;
    background: #7CB385;
    font-family: "Roboto", sans-serif;
    font-size:13pt;
    color:white;
    justify-content: space-between;
  }
  nav a:hover{
    background:#537A5A;
    color:#f0f1f5;
  }
  nav ul{
    list-style: none;
  }
  nav ul li{
    float:left;
    width:300px;
    height:50px;
    line-height: 50px;
    background:#BEC5AD;
  }

  nav ul ul li{
    position:relative;
    display:none;
  }

  nav ul ul ul{
    display:none;
  }

  nav ul li:hover ul li{
    display: block;
    animation: navmenu 500ms forwards;
  }

  @keyframes navmenu{
    0%{
      opacity:0;
      top:5px;
  }
    100%{
      opacity:1;
      top:0px;
    }
  }
  nav ul ul li:hover ul{
    display:block;
    position:absolute;
    width:140px;
    left:140px;
    top:0px;
  }

/* MAIN CONTAINER */
  .heading {
    text-align: center;
  }
  .fav-container {
    margin-left: auto;
    margin-right: auto;
    width: 55em 
  }
  .fav {
    display: flex;
    font-family: "Roboto", sans-serif;
    align-items: center;
  }

  .fav-image img {
    margin: 20px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 10px 10px 35px 2px #858585;
  }

  .fav-text {
    margin: 10px 10px 10px 30px;
    width: 60%;
  }

  .fav-text h4 {
    color: black;
    font-size: 20px;
  }

  .fav-text p {
    color: darkgrey;
  }

  .fav-text i {
    color: grey;
  }

  .address a {
    color: grey;
    text-decoration: none;
  }

/* FOOTER */
  .footer-container {
    background: #7FB487;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 50px;
  }

  .footer-container p {
    font-family: "Krub",sans-serif;
    color: #CBFFD7;
  }

  .footer-links {
    display: flex;
    align-items: center;
  }

  .footer-links a {
    color: #CBFFD7;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }

  .footer-links a:hover {
    color: white;
  }

  .footer-container .fa-heart {
    color: #D23333;
  }

